
[submodule "app/lib/php/lessphp"]
	path = app/lib/php/lessphp
	url = git@github.com:willwashburn/lessphp.git

[submodule "app/lib/php/common-library"]
	path = app/lib/php/common-library
	url = git@bitbucket.org:willwashburn/common-library.git
[submodule "app/lib/php/php-activerecord"]
	path = app/lib/php/php-activerecord
	url = git@github.com:willwashburn/php-activerecord.git
